.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header{
  background-color: rgba(19, 19, 70, 0.372);
  padding-top: 1%;
}

.Heading h1{
  padding-bottom: 3%;
  text-decoration-style: solid;
  font-style: italic;
}

.addVideo{
  font-style: normal;
  display: flex;
}

.formContainer{
  width: 30%;
}

.search{
  width: 60%;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
